*{
    margin: 0%;
    padding: 0%;
}


/* horizontal icon-bar  */

.icon-bar{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.829);
    overflow: auto;
} 


 .icon-bar a{
    color: white;
    float: left;
    width: 20%;
    text-align: center;
    padding: 16px 0;   
    font-size: 36px;
    transition: all 0.4s ease; 
}


/* vertical icon-bar */

/* .icon-bar{
    width: 90px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.829);
    position: fixed;
}

.icon-bar a{
    color: white;
    display: block;
    text-align: center;
    padding: 16px; 
    height: 16%;  
    font-size: 36px;
    transition: all 0.4s ease;
} */
 
.icon-bar a:hover{
    background-color: rgb(75, 75, 75);
    font-size: 40px;
}

.active{
    background-color: rgb(57, 145, 115);
}